@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.navbar{
    background-color: rgba(25, 164, 36, 0.945);
    height: 130px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #fff;


}
.main{
    margin: 0px;
}
.logo{
    width: 115px;
    padding-top: 20px;
    padding-left: 35px;

}
.menu{
    margin: 10px;
    ;
}
.leftnav{
    width: 50%;
    height: 50%;

}
.rightnav{
    width: 50%;
    height: 50%;
    padding-left: 650px; 

}
.navlink{
    padding-left: 20px;
    color: #fff;
    font-family: ;
    font-weight: 500px;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
  

}
.logof{
    width:33px;
    padding-left: 83px;
    text-decoration: none;

}
.logoi{
    width: 33px;
    padding-left: 5px;
    text-decoration: none;
   
    

.section1{
    padding-top: 110px;
    position: relative;
}